._reset_3258c {
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  color: #FFF;
  margin: 0;
  padding: 0; }

._reset_3258c,
._reset_3258c:before,
._reset_3258c:after {
  box-sizing: border-box; }

/* some browsers set a font-size or margin in their user stylesheets */
._reset_3258c input,
._reset_3258c textarea,
._reset_3258c select,
._reset_3258c button {
  font-size: 14px;
  margin: 0; }

._reset_3258c ul {
  padding: 0; }

/* webkit adds some weird spacing otherwise */
._reset_3258c li {
  display: block; }

._reset_3258c input::-webkit-search-cancel-button {
  display: none; }

/* webkit adds white box around search box */
._reset_3258c input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

._selectedOptions_83433 {
  position: relative;
  width: 100%;
  list-style: none;
  padding-left: 0; }

._listPreviewElement_b5052 {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  /* subtract the size of padding */
  line-height: calc(40px - 10px);
  padding: 5px 16px; }

._listPreviewElement--isDisabled_b5052 {
  color: #999;
  cursor: not-allowed; }

._listPreviewElement--isHighlighted_b5052 {
  background: #00ADEE; }

._listPreviewElement--isHighlighted_b5052 > span {
  color: #fff; }

._listPreviewElement__icon_b5052 {
  margin-right: .5em; }

._listPreviewElement__iconWrapper_b5052 {
  padding: 0 !important;
  width: 2em;
  display: inline-block;
  text-align: center; }

svg:not(:root).svg-inline--fa {
  overflow: visible; }

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em; }

.svg-inline--fa.fa-lg {
  vertical-align: -.225em; }

.svg-inline--fa.fa-w-1 {
  width: 0.0625em; }

.svg-inline--fa.fa-w-2 {
  width: 0.125em; }

.svg-inline--fa.fa-w-3 {
  width: 0.1875em; }

.svg-inline--fa.fa-w-4 {
  width: 0.25em; }

.svg-inline--fa.fa-w-5 {
  width: 0.3125em; }

.svg-inline--fa.fa-w-6 {
  width: 0.375em; }

.svg-inline--fa.fa-w-7 {
  width: 0.4375em; }

.svg-inline--fa.fa-w-8 {
  width: 0.5em; }

.svg-inline--fa.fa-w-9 {
  width: 0.5625em; }

.svg-inline--fa.fa-w-10 {
  width: 0.625em; }

.svg-inline--fa.fa-w-11 {
  width: 0.6875em; }

.svg-inline--fa.fa-w-12 {
  width: 0.75em; }

.svg-inline--fa.fa-w-13 {
  width: 0.8125em; }

.svg-inline--fa.fa-w-14 {
  width: 0.875em; }

.svg-inline--fa.fa-w-15 {
  width: 0.9375em; }

.svg-inline--fa.fa-w-16 {
  width: 1em; }

.svg-inline--fa.fa-w-17 {
  width: 1.0625em; }

.svg-inline--fa.fa-w-18 {
  width: 1.125em; }

.svg-inline--fa.fa-w-19 {
  width: 1.1875em; }

.svg-inline--fa.fa-w-20 {
  width: 1.25em; }

.svg-inline--fa.fa-pull-left {
  margin-right: .3em;
  width: auto; }

.svg-inline--fa.fa-pull-right {
  margin-left: .3em;
  width: auto; }

.svg-inline--fa.fa-border {
  height: 1.5em; }

.svg-inline--fa.fa-li {
  width: 2em; }

.svg-inline--fa.fa-fw {
  width: 1.25em; }

.fa-layers svg.svg-inline--fa {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0; }

.fa-layers {
  display: inline-block;
  height: 1em;
  position: relative;
  text-align: center;
  vertical-align: -.125em;
  width: 1em; }

.fa-layers svg.svg-inline--fa {
  -webkit-transform-origin: center center;
  transform-origin: center center; }

.fa-layers-text, .fa-layers-counter {
  display: inline-block;
  position: absolute;
  text-align: center; }

.fa-layers-text {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
  transform-origin: center center; }

.fa-layers-counter {
  background-color: #ff253a;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  height: 1.5em;
  line-height: 1;
  max-width: 5em;
  min-width: 1.5em;
  overflow: hidden;
  padding: .25em;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: top right;
  transform-origin: top right; }

.fa-layers-bottom-right {
  bottom: 0;
  right: 0;
  top: auto;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right; }

.fa-layers-bottom-left {
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left; }

.fa-layers-top-right {
  right: 0;
  top: 0;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: top right;
  transform-origin: top right; }

.fa-layers-top-left {
  left: 0;
  right: auto;
  top: 0;
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: top left;
  transform-origin: top left; }

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -.0667em; }

.fa-xs {
  font-size: .75em; }

.fa-sm {
  font-size: .875em; }

.fa-1x {
  font-size: 1em; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-6x {
  font-size: 6em; }

.fa-7x {
  font-size: 7em; }

.fa-8x {
  font-size: 8em; }

.fa-9x {
  font-size: 9em; }

.fa-10x {
  font-size: 10em; }

.fa-fw {
  text-align: center;
  width: 1.25em; }

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0; }

.fa-ul > li {
  position: relative; }

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit; }

.fa-border {
  border: solid 0.08em #eee;
  border-radius: .1em;
  padding: .2em .25em .15em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1); }

.fa-flip-both, .fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-flip-both {
  -webkit-filter: none;
  filter: none; }

.fa-stack {
  display: inline-block;
  height: 2em;
  position: relative;
  width: 2.5em; }

.fa-stack-1x,
.fa-stack-2x {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0; }

.svg-inline--fa.fa-stack-1x {
  height: 1em;
  width: 1.25em; }

.svg-inline--fa.fa-stack-2x {
  height: 2em;
  width: 2.5em; }

.fa-inverse {
  color: #fff; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.svg-inline--fa .fa-primary {
  fill: var(--fa-primary-color, currentColor);
  opacity: 1;
  opacity: var(--fa-primary-opacity, 1); }

.svg-inline--fa .fa-secondary {
  fill: var(--fa-secondary-color, currentColor);
  opacity: 0.4;
  opacity: var(--fa-secondary-opacity, 0.4); }

.svg-inline--fa.fa-swap-opacity .fa-primary {
  opacity: 0.4;
  opacity: var(--fa-secondary-opacity, 0.4); }

.svg-inline--fa.fa-swap-opacity .fa-secondary {
  opacity: 1;
  opacity: var(--fa-primary-opacity, 1); }

.svg-inline--fa mask .fa-primary,
.svg-inline--fa mask .fa-secondary {
  fill: black; }

.fad.fa-inverse {
  color: #fff; }

._icon_7824d {
  display: inline-block;
  font: normal normal normal FontAwesome;
  font-size: 14px/1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

._icon--paddedLeft_7824d {
  margin-left: .75em; }

._icon--paddedRight_7824d {
  margin-right: .75em; }

._icon--color-warn_7824d {
  color: #ff8700; }

._icon--color-error_7824d {
  color: #ff460d; }

._icon--color-primaryBlue_7824d {
  color: #00ADEE; }

._dropDown_227bc {
  position: relative;
  display: inline-block;
  width: 100%; }

._dropDown__btn_227bc {
  display: block;
  width: 100%;
  height: 40px;
  text-align: left;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 0 16px;
  border: 0;
  border-radius: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 40px;
  background: #323232; }

._dropDown__btn_227bc:focus {
  outline: 1px solid #00ADEE; }

._dropDown__btn--withChevron_227bc {
  padding-right: 40px; }

._dropDown__btnLabel_227bc {
  margin-right: .5em; }

._dropDown__chevron_227bc {
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

._dropDown__contents_227bc {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  margin: 0;
  list-style: none;
  background: #323232;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }

._dropDown__contents--scrollable_227bc {
  max-height: 80vh;
  overflow-y: auto; }

._dropDown__contents--isOpen_227bc {
  display: block; }

._dropDown--darker_227bc > ._dropDown__btn--open_227bc {
  background-color: #222; }

._dropDown--darker_227bc > ._dropDown__contents_227bc {
  background-color: #222; }

._dropDown--darkest_227bc > ._dropDown__btn--open_227bc {
  background-color: #141414; }

._dropDown--darkest_227bc > ._dropDown__contents_227bc {
  background-color: #141414; }

._dropDown--padded_227bc > ._dropDown__contents_227bc {
  padding: 16px; }

._selectBox__list_4e014 {
  padding: 0; }

._selectBox_4e014 {
  position: relative;
  display: inline-block;
  line-height: 0; }

._selectBox__btn_4e014 {
  position: relative;
  display: inline-block;
  text-overflow: clip;
  height: auto;
  min-height: 40px;
  line-height: 40px;
  padding-left: 0;
  border: 0;
  background: #323232;
  min-width: 160px; }

._selectBox__btn--noRightPadding_4e014 {
  padding-right: 0; }

._selectBox__contents_4e014 {
  min-width: 160px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 3;
  padding: 2px !important;
  margin-top: -2px; }

._selectBox__item_4e014 {
  border-top: 1px solid #222;
  background: #141414; }

._selectBox__item_4e014 div {
  padding: 5px 14px; }

._selectBox__groupHeader_4e014 {
  background-color: #222;
  font-weight: bold;
  padding-left: 16px;
  line-height: 30px;
  text-transform: uppercase; }

._selectBox--disabled_4e014 {
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
  cursor: not-allowed; }

._selectBoxHeader_aef26 {
  display: -webkit-box;
  display: flex;
  width: 100%; }

._selectBoxHeader__innerPreview_aef26 {
  overflow: hidden;
  width: 100%; }

._selectBoxHeader__icon_aef26 {
  line-height: 40px;
  height: 100%; }

._selectBoxHeader__label_aef26 {
  padding: 0 16px; }

._selectBoxHeader__wrapperIconWrapper_aef26 {
  padding: 0 16px; }

._selectBoxHeader__wrapperPlaceholderIconWrapper_aef26 {
  padding: 0 8px 0 0; }

._selectBoxHeader--disabled_aef26 {
  cursor: not-allowed; }

._btn_fc5db {
  position: relative;
  display: inline-block;
  height: 40px;
  min-width: 40px;
  padding: 0 16px;
  border: 0;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  width: auto;
  color: #FFF;
  cursor: pointer;
  background-color: #323232;
  font-size: 14px; }

._btn_fc5db:focus {
  outline: 1px solid #00ADEE; }

._btn_fc5db[disabled] {
  opacity: .5;
  cursor: not-allowed; }

._btn_fc5db[disabled]:hover,
._btn_fc5db[disabled]._btn--isPressed_fc5db,
._btn_fc5db[disabled]:hover i,
._btn_fc5db[disabled] i {
  color: #FFF; }

._btn--size-small_fc5db {
  height: 32px;
  font-size: 13px;
  padding: 0 8px; }

._btn--clean_fc5db {
  background-color: #222; }

._btn--lighter_fc5db,
._btn--lighter_fc5db i {
  background-color: #3f3f3f; }

._btn--neutral_fc5db,
._btn--neutral_fc5db i {
  background-color: #323232; }

._btn--transparent_fc5db {
  background: 0; }

._btn--brand_fc5db,
._btn--brand_fc5db i {
  background-color: #00ADEE;
  color: white !important; }

._btn--success_fc5db,
._btn--success_fc5db i {
  background-color: #00a338;
  color: white !important; }

._btn--warn_fc5db,
._btn--warn_fc5db i {
  background-color: #ff8700; }

._btn--error_fc5db,
._btn--error_fc5db i {
  background-color: #ff460d;
  color: white !important; }

._btn--brandActive_fc5db {
  background-color: #00ADEE; }

._btn--brandActive_fc5db svg {
  color: #FFF; }

._btn--brandHover_fc5db:hover:enabled,
._btn--brandHover_fc5db:hover:enabled i,
._btn--brandHover_fc5db._btn--isPressed_fc5db,
._btn--brandHover_fc5db._btn--isPressed_fc5db i {
  background-color: #00ADEE; }

._btn--cleanHover_fc5db._btn--isPressed_fc5db,
._btn--cleanHover_fc5db._btn--isPressed_fc5db i,
._btn--cleanHover_fc5db:hover:enabled,
._btn--cleanHover_fc5db:hover:enabled i {
  color: #00ADEE; }

._btn--cleanHover_fc5db._btn--isPressed_fc5db svg, ._btn--cleanHover_fc5db._btn--isPressed_fc5db i svg, ._btn--cleanHover_fc5db:hover:enabled svg, ._btn--cleanHover_fc5db:hover:enabled i svg {
  color: #00ADEE; }

._btn--darkenHover_fc5db._btn--isPressed_fc5db,
._btn--darkenHover_fc5db._btn--isPressed_fc5db i,
._btn--darkenHover_fc5db:hover:enabled,
._btn--darkenHover_fc5db:hover:enabled i {
  background-color: rgba(0, 0, 0, 0.1); }

._btn--successHover_fc5db._btn--isPressed_fc5db,
._btn--successHover_fc5db._btn--isPressed_fc5db i,
._btn--successHover_fc5db:hover:enabled,
._btn--successHover_fc5db:hover:enabled i {
  background-color: #0bb344; }

._btn--warnHover_fc5db._btn--isPressed_fc5db,
._btn--warnHover_fc5db._btn--isPressed_fc5db i,
._btn--warnHover_fc5db:hover:enabled,
._btn--warnHover_fc5db:hover:enabled i {
  background-color: #fda23d; }

._btn--errorHover_fc5db:hover:enabled,
._btn--errorHover_fc5db:hover:enabled i,
._btn--errorHover_fc5db._btn--isPressed_fc5db,
._btn--errorHover_fc5db._btn--isPressed_fc5db i {
  background-color: #ff6a3c; }

._iconButton_d1013 {
  vertical-align: top;
  width: 40px;
  padding-left: 0;
  padding-right: 0; }

._iconButton--disabled_d1013 {
  opacity: .65;
  cursor: not-allowed; }

._size-small_d1013 {
  width: 32px !important;
  min-width: 32px !important; }

._selectBoxHeaderWithSearchInput_7b672 {
  display: -webkit-box;
  display: flex;
  padding-left: 16px; }

._selectBoxHeaderWithSearchInput__inputContainer_7b672 {
  width: 100%; }

._selectBoxHeaderWithSearchInput__input_7b672 {
  width: 100%;
  color: #fff;
  /* TODO: move to reset / use var */
  font-size: 14px; }

._selectBoxHeaderWithSearchInput__input_7b672:focus {
  background: transparent !important;
  color: #fff !important; }

._selectBoxHeaderWithSearchInput__icon_7b672 {
  height: 40px; }

._textInput_4bb04 {
  /* TODO: should eventually be moved to reset.css, but there maybe be plenty of side-effects */
  font-size: 14px;
  width: 100%;
  height: 40px;
  padding: 0 14px;
  border: 0;
  border-radius: 2px;
  background: #323232;
  color: white; }

._textInput_4bb04:focus {
  outline: 0;
  background: #FFF;
  color: #141414; }

._textInput_4bb04::-webkit-input-placeholder {
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  color: #999; }

._textInput--disabled_4bb04 {
  opacity: .65;
  cursor: not-allowed; }

._selectedOptions__item_a247f {
  display: -webkit-box;
  display: flex;
  width: 100%;
  position: relative;
  background: #141414;
  border-bottom: 1px solid #222;
  border-radius: 2px; }

._selectedOptions__item_a247f:hover ._selectedOptions__itemIcon_a247f {
  display: none; }

._selectedOptions__item_a247f:hover ._selectedOptions__itemIcon--onHover_a247f {
  display: inline; }

._selectedOptions__item--draggable_a247f {
  cursor: move; }

._selectedOptions__innerPreview_a247f {
  border-right: 1px solid #222;
  overflow: hidden;
  width: 100%; }

._selectedOptions__innerPreview_a247f > div {
  box-shadow: none !important; }

._selectedOption__removeButton_a247f {
  height: auto;
  background: #323232;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

._selectedOption__moveButton_a247f {
  cursor: move;
  height: auto;
  width: 20px;
  min-width: 20px;
  color: #3f3f3f;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right: 1px solid #222; }

._selectedOption__moveButton_a247f svg {
  color: #3f3f3f; }

._selectedOption__moveButton_a247f:hover,
._selectedOption__moveButton_a247f:focus {
  background: #3f3f3f;
  color: #999 !important; }

._selectedOption__moveButton_a247f:hover svg, ._selectedOption__moveButton_a247f:focus svg {
  color: #999 !important; }

._treeWrapper_efdf1 {
  padding: 5px 0; }

._treeWrapper_efdf1:focus {
  outline: 0; }

._header_817b7 {
  margin: 0;
  position: relative;
  line-height: 20px; }

._header__chevron_817b7 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 18px;
  color: #adadad;
  line-height: 20px;
  text-align: center;
  cursor: pointer; }

._header__chevron_817b7:hover {
  color: #00ADEE; }

._header__chevron--isCollapsed_817b7 > svg {
  -webkit-transform: translateY(3px) translateX(-2px) rotate(-90deg);
  transform: translateY(3px) translateX(-2px) rotate(-90deg); }

._header__chevron--isHiddenInIndex_817b7 {
  opacity: .5; }

._header__chevron--isLoading_817b7,
._header__chevron--isLoading_817b7:hover {
  color: #adadad !important; }

._header__chevron--isLoading_817b7 > svg {
  margin-top: 6px; }

._header__iconWrapper_817b7 {
  width: 2em;
  display: inline-block;
  position: absolute;
  text-align: center; }

._header__data_817b7 {
  position: relative;
  display: inline-block;
  min-width: 100%;
  padding: .1em 0;
  border-left: 2px solid transparent;
  white-space: nowrap;
  cursor: pointer; }

._header__data--isHiddenInIndex_817b7 {
  opacity: .5; }

._header__data--isHidden_817b7 {
  text-decoration: line-through; }

._header__data--isDragging_817b7 {
  opacity: .2; }

._header__data--isDirty_817b7 {
  border-left: 2px solid #ff8700; }

._header__data--isFocused_817b7 {
  background: #323232; }

._header__data--isFocused_817b7._header__data--isHiddenInIndex_817b7,
._header__data--isFocused_817b7._header__data--isHidden_817b7 {
  opacity: .8; }

._header__data--acceptsDrop_817b7 {
  background-color: #00ADEE; }

._header__data--acceptsDrop_817b7 *,
._header__data--deniesDrop_817b7 * {
  pointer-events: none; }

._header__labelWrapper_817b7 {
  max-width: 264px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle; }

._header__label_817b7 {
  margin-left: 2em; }

._header__data--isActive_817b7 ._header__label_817b7 {
  color: #00ADEE; }

._dropTarget_817b7 {
  position: absolute;
  left: 0;
  right: 0;
  padding-left: 15px; }

._dropTarget--before_817b7 {
  top: -5px;
  z-index: 1;
  padding-top: 4px;
  padding-bottom: 4px; }

._dropTarget--after_817b7 {
  bottom: 0;
  z-index: 2;
  padding-top: 6px;
  padding-bottom: 0; }

._dropTarget__inner_817b7 {
  height: 2px; }

._dropTarget__inner--acceptsDrop_817b7 {
  background-color: #00ADEE; }

._checkbox_30f60 {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle; }

._checkbox__input_30f60 {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0;
  cursor: pointer; }

._checkbox__icon_30f60 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: .2; }

._checkbox__inputMirror_30f60 {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  vertical-align: text-bottom;
  background: #3f3f3f;
  font-size: 20px;
  font-weight: bold; }

._checkbox__inputMirror--active_30f60 {
  background: #00ADEE; }

._checkbox__checked_30f60 ._checkbox__icon_30f60 {
  opacity: 1; }

._checkbox__disabled_30f60 {
  opacity: .65;
  cursor: not-allowed; }

._checkbox__disabled_30f60 ._checkbox__input_30f60 {
  cursor: not-allowed; }

@-webkit-keyframes _slideDialogContents_59f0d {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.9);
    transform: translateX(-50%) translateY(-50%) scale(0.9); } }

@keyframes _slideDialogContents_59f0d {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.9);
    transform: translateX(-50%) translateY(-50%) scale(0.9); } }

._dialog_59f0d {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); }

._dialog__contentsPosition_59f0d {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
  background: #222;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  border-radius: 0;
  outline: none;
  opacity: 1;
  -webkit-animation: _slideDialogContents_59f0d .3s ease-in-out;
  animation: _slideDialogContents_59f0d .3s ease-in-out; }

._dialog__contents_59f0d {
  position: relative;
  width: calc(100vw - 40px * 2);
  max-width: calc(40px * 16);
  border: 2px solid #3f3f3f; }

._dialog--wide_59f0d ._dialog__contents_59f0d {
  max-width: calc(40px * 24); }

@media (max-width: 576px) {
  ._dialog--wide_59f0d ._dialog__contents_59f0d {
    max-width: 100vw;
    width: 100vw; } }

._dialog--narrow_59f0d ._dialog__contents_59f0d {
  max-width: 400px; }

._dialog--success_59f0d ._dialog__contents_59f0d {
  border-color: #00a338; }

._dialog--warn_59f0d ._dialog__contents_59f0d {
  border-color: #ff8700; }

._dialog--error_59f0d ._dialog__contents_59f0d {
  border-color: #ff460d; }

._dialog__title_59f0d {
  font-size: 20px;
  line-height: 1.2;
  padding: 16px;
  padding-right: 40px; }

._dialog__body_59f0d {
  max-height: calc(65vh);
  overflow-y: auto; }

@media (max-width: 576px) {
  ._dialog__body_59f0d {
    max-height: calc(55vh); } }

._dialog__actions_59f0d {
  text-align: right;
  margin-top: 16px; }

._dialog__closeBtn_59f0d {
  position: absolute;
  top: 0;
  right: 0;
  background: #3f3f3f; }

._dialog__backDrop_59f0d {
  position: absolute;
  height: 100%;
  width: 100%; }

._nodeTypeFilterButton_a508f {
  display: inline; }

._filterIconButton_a508f {
  height: 22px;
  line-height: 0; }

._nodeTypeFilterContainer_a508f {
  min-height: 40vh; }

._slimNodeTree_a508f *[role="button"] ._filterIconButton_a508f {
  display: none; }

._slimNodeTree_a508f *[role="button"] ._filterIconButton_a508f._filterIconButton--active_a508f {
  display: inline; }

._slimNodeTree_a508f *[role="button"]:hover ._filterIconButton_a508f {
  display: inline; }

._checkbox--someParentNodeIsSelected_a508f svg {
  color: #00ADEE;
  opacity: 1; }

/*# sourceMappingURL=/index.css.map */
